
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


<form method="post">

    <input type="text" name="Username" value="@Model.Username" class="form-control" placeholder="Username" />
  

    <input type="text" name="Password" value="@Model.Password" class="form-control" placeholder="Password" />





    <input type="submit" value="Login" class="btn btn-success" />
</form>




